$mauve-taupe: #8C6169;
$chantilly: #403036;
$black: #1F1F26;
$white: #F2F2F2;
$gray: #BFBFBF;

h2 {
    margin-bottom: 1rem;
}
p {
    text-align: justify;
}
a {
    transition: 0.3s;
}
code {
    font-size: 0.8em;
}
ol, ul {
    margin: 0 0 1rem 2.5em;
}
hr {
    height: 1px;
    background-image: linear-gradient(to right, rgba(140,97,105,0), rgba(140,97,105,.75), rgba(140,97,105,0));
    width: 100%;
}
.classic-table {
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: $mauve-taupe;
}
table {
    border: none !important;
    color: $black;
    margin-bottom: 1rem !important;
    width: 100%;
    thead tr th {
        background-color: lighten($gray, 15%);
        @extend .classic-table;
        &:first-of-type {
            border-left-width: 1px;
        }
    }
    tbody tr {
        &:first-of-type {
            td {
                border-top-width: 1px;
            }
        }
        td {
            background-color: $white;
            border-width: 0px 1px 1px 0px;
            @extend .classic-table;
            &:first-of-type {
                border-left-width: 1px;
            }
        }
    }
}

html {
    height: 100%;
    body {
        background-color: $white;
        color: $black;
        display: flex;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        font-weight: 500;
        height: 100%;
        .top-bar {
            background-color: $gray;
            padding: 0;
            .top-bar-left {
                .author {
                    font-family: 'Quicksand', sans-serif;
                    font-weight: 700;
                    li a span {
                        border-top: 1px solid;
                        font-size: 1em;
                    }
                }
            }
            .top-bar-right {
                li a {
                    &.active, &:active, &:hover, &:focus {
                        background-color: darken($gray, 10%);
                    }
                }
            }
            .menu {
                background-color: inherit;
                a {
                    color: $black;
                    padding: 1em;
                }
            }
        }
        .title {
            background-color: $mauve-taupe;
            color: $white;
            font-family: 'Parisienne', cursive;
            font-size: 5em;
            padding: 0.9em 0;
            text-align: center;
        }
        .body-con {
            padding: 2em 0;
        }
        .index-con {
            .grid-container .grid-x {
                &.alert {
                    background-color: lighten($chantilly, 60%);
                    border: 2px solid $chantilly;
                    border-radius: 6px;
                    padding: 1.5rem 1rem 0.5rem;
                    .fi-alert {
                        color: $chantilly;
                        font-size: 5em;
                        margin-right: 0.1em;
                    }
                }
                &:not(:first-child) {
                    margin-top: 1em;
                }
                .cell {
                    section {
                        &:not(:last-of-type) {
                            padding-bottom: 1.5rem;
                        }
                        &:not(:first-of-type) {
                            border-top: 1px solid $mauve-taupe;
                            padding-top: 1.5rem;
                        }
                        .config-section {
                            border: 2px solid $gray;
                            border-radius: 10px;
                            margin: 1.5em 2em;
                            padding: 1.3em 2em;
                        }
                    }
                }
                .medium-3 {
                    background-color: lighten($gray, 15%);
                    .vertical.menu {
                        &:not(.nested) {
                            padding: 0.5em 0.4em 0.8em;
                        }
                        li a {
                            color: $chantilly;
                            &.is-active {
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
        }
        .help-con {
            form {
                width: 100%;
                label {
                    font-weight: 500;
                    margin: 1rem 0 0.5rem;
                }
                input, textarea {
                    margin: 0 0 0;
                }
                textarea {
                    min-height: 300px;
                    resize: vertical;
                }
                label.error {
                    color: #CE2222;
                    margin: 0.5rem 0 1rem;
                }
            }
        }
        footer {
            background-color: $chantilly;
            color: $white;
            font-weight: 400;
            padding: 0.7em 1em;
            margin-top: auto;
            a {
                color: $white;
                &:hover {
                    color: darken($white, 20%);
                }
            }
            #help {
                bottom: 0;
                right: 1.5em;
                #help-button {
                    background-color: $chantilly;
                    border: 5px solid $gray;
                    border-radius: 80px;
                    color: $white;
                    display: block;
                    height: 80px;
                    margin-bottom: 1.5em;
                    position: relative;
                    transition: 0.3s;
                    width: 80px;
                    &:hover, &:focus {
                        background-color: darken($chantilly, 5%);
                    }
                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

.button {
    background-color: $mauve-taupe;
    margin-top: 1rem;
    transition: 0.3s;
    width: 100%;
    &:active, &:hover, &:focus {
        background-color: darken($mauve-taupe, 10%);
        outline: 0;
    }
}
#loading {
    background: transparent;
    border: none;
    color: #BFBFBF;
    font-size: 5em;
    outline: 0;
}
#love-status {
    outline: 0;
    p:not(.lead) {
        font-size: 0.9em;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#loading {
    align-items: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    top: 0 !important;
    transition: 0.3s;
    .loader {
        border: 7px solid $gray;
        border-radius: 50%;
        border-top: 7px solid $mauve-taupe;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
}
@keyframes slideDown {
    from {
        transform: translate3d(0, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
.slideDown {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
}

@keyframes slideUp {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -100%, 0);
    }
}
.slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
}

/* Media Queries */

// Tablet & small laptop
@media screen and (max-width: 1119px) {
    html {
        body {
            .title {
                font-size: 3em;
            }
        }
    }
}

// Mobile
@media screen and (max-width: 639.5px) {
    html {
        body {
            .top-bar {
                .top-bar-left {
                    background: inherit;
                    -webkit-flex: 0 0 70%;
                    flex: 0 0 70%;
                    max-width: 70%;
                    width: 70%;
                }
                .top-bar-right {
                    -webkit-flex: 0 0 30%;
                    flex: 0 0 30%;
                    max-width: 30%;
                    width: 30%;
                    div {
                        background: inherit;
                    }
                    ul {
                        -webkit-animation-duration: 1s;
                        animation-duration: 1s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        background-color: $gray;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        z-index: -1;
                        li {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .title {
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    html {
        body {
            footer {
                #help {
                    right: 0.5em;
                    #help-button {
                        border: 4px solid $gray;
                        border-radius: 70px;
                        height: 70px;
                        margin-bottom: 0.5em;
                        width: 70px;
                    }
                }
            }
        }
    }
}