@page {
    margin: 0 !important;
}

@media print {

    .hide-on-print {
        display: none !important;
    }

    .show-on-print {
        display: block;
    }

    .force-page-break {
        page-break-before: always;
        page-break-after: avoid;
        page-break-inside: auto;
    }
}